body {
    font-family: sans-serif;
}
/*h1 {
    color: #fff;
    font-size: 24pt;
}
h2 {
    color: #fff;
    font-size: 18pt;
}*/

/*Custom Classes*/

/*Content headers and extensions*/
.char-sheet-content-header {
    background-color: #3a3c3d;
    padding: 5px;
}
.char-sheet-content-header-main {
    text-align: center;
}
.char-sheet-container-elem h1, h2{
    display: inline;
}
.char-sheet-vert-div-block {
    display: block;
}
.char-sheet-vert-content-margin {
    margin-bottom: 30px;
}

/*New Stuff*/
.char-sheet-column-div {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 5px 2% 10px 2%;
}
.char-sheet-container {
    display: block;
    background-color: #3a3c3d;
    padding: 5px;
}
.char-sheet-container h1, .char-sheet-container h2 {
    color: #fff;
}
.char-sheet-container h1 {
    font-size: 24pt;
}
.char-sheet-container h2 {
    font-size: 18pt;
}
.char-sheet-container-elem {
    display: block;
}
/*End New Stuff*/

.header-bar-input-label {
    position: absolute;
    top: 100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    font-size: 8pt;
}

.label-container {
    position: relative;
}
.char-sheet-attribute-container {
    display: inline-block;
    width: 66%;
    vertical-align: top;
}
.char-sheet-column-div-right {
    float: right;
    margin-right: 4%;
}
.char-sheet-column-div-left {
    margin-left: 3%;
}
.char-sheet-skill {
    margin: 5px 0px;
}

/*Reusable Plug-in Classes*/
.right-float {
    float: right;
}
.left-float {
    float: left;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}

/*Input Fields*/
.char-sheet-container-elem input, .char-sheet-vert-div-block input{
    border-radius: 10px;
    font-size: 16pt;
    padding: 5px 5px 10px 5px;
}
.radial-button-group {
    /* float: right;*/
}
.long-text-input {
    width: 15%;
    min-width: 200px;
}
.short-text-input {
    width: 2%;
    min-width: 40px;
    text-align: center;
}

.quarter-divider {
    width: 24%;
    margin: 0px;
}
.three-quarter-divider {
    width: 74%;
    margin: 0px;
}